*{
    width: 100%;
    margin: 0px;
    background-color: #212121;
  
  }
  /*Header*/
  header{
    width: 95%;
    background: linear-gradient(-45deg,#C200F5,#8f73f6,#23a6d5);
    height: 80px;
    color: white;
    display: flex;
    flex-direction: row;
    padding-left: 5%;
    align-items: center;  
  }
  main{
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  #logo{
    flex: 1;
    background-color: transparent;
  }
  #logoTitle{
    flex: 11;
    background-color: transparent;
  }
  .container{
    display: flex;
    flex-wrap: wrap;
    
  }
  .content{
    flex: 1 0 21%;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
    box-shadow: 0 2px 1px 0 rgba(53, 53, 53, 0.76);
    background: linear-gradient(-45deg,#23a6d5, #23d5ab);
    padding-bottom: 5px;
  }
  .Fach{
    font-weight: bold;
    color: white;
    background-color: transparent;
  }
  .Fach > a{
    background-color: transparent;
    float: right;
    width: auto;
    padding-right: 5px;
  }
.note{
    background-color: transparent;
    float: right;
}
.note > div{
    color: white;
    background-color: transparent;
    float: right;
    padding-right: 5px;
    width: auto;
}
.note > div > button{
  background-color: transparent;
  width: 45px;
  border: none;
  
}
.note > div > button:hover{
  cursor: pointer;
  
}
.notenAdd{
    background-color: transparent;
    width: auto;
    padding-right: 5px;
    padding-top: 20px;

}
.notenAdd > input{
    background-color: white;
    width: 45px;
    float: right;
    border: none;
}
@media screen and (max-width: 992px) {
  .content{
    flex: 1 0 100%;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
    box-shadow: 0 2px 1px 0 rgba(53, 53, 53, 0.76);
    background: linear-gradient(-45deg,#23a6d5, #23d5ab);
    padding-bottom: 5px;
  }
}