/* color palette from <https://github.com/vuejs/theme> */
*{
    max-width: 100%;
    width: 100%;
    margin: 0px;
    background-color: #212121;
  
  }
  /*Header*/
  header{
    width: 95%;
    background: linear-gradient(-45deg,#C200F5,#8f73f6,#23a6d5);
    background-size: 100% 200%;
    height: 80px;
    color: white;
    display: flex;
    flex-direction: row;
    padding-left: 5%;
    align-items: center;  
  }
  main{
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    height: 100%;
  }
  #logo{
    flex: 1;
    background-color: transparent;
  }
  #logoTitle{
    flex: 11;
    background-color: transparent;
  }
  .container{
    display: flex;
    flex-wrap: wrap;
    
  }
  .content{
    flex: 1 0 21%;
    width: 100px;
    height: auto;
    /*background-color: #eb3131;*/
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
    box-shadow: 0 2px 1px 0 rgba(53, 53, 53, 0.76);
    transition: width 200ms, height 200ms;
    background: linear-gradient(-45deg,#23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
  }
  .content:hover{
    width: 110px;
    height: auto + 10px;
  }
  .Fach{
    text-align: left;
    font-weight: bold;
    color: white;
    background-color: transparent;
  }
  .NotenSchnitt{
    display: flex;
    width:auto;
    text-align: right;
    font-weight: bold;
    color: white;
    background-color: transparent;
    padding-right: 5px;
  }
.note{
    color: white;
    background-color: transparent;
    float: right;
}
.note > div{
    color: white;
    background-color: transparent;
    float: right;
    padding-right: 5px;
    width: auto;
}
.note > div > button{
    color: white;
    background-color: transparent;
    width: 45px;
}
.notenAdd{
    color: white;
    background-color: transparent;
    padding-left: 37.5%;
    width: auto;
    padding-right: 5px;

}
.notenAdd > input{
    background-color: white;
    width: 45px;
    float: right;

}
  